<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>case</title>
</head>
<body>
	<div>数据</div>
	<div><%= data.title%></div>
	<div><%= data.name%></div>
	<div><%= data.age%></div>
	<div>
		<a href="/case/detail/2">链接跳转</a>
	</div>
</body>
</html>